

/* Media Queries */
@media screen and (max-width: 768px) {
    .bgc h1 {
        font-size: 20px;
    }

    .buttin {
        font-size: 16px;
        padding: 10px;
    }

    .toolbar {
        flex-direction: column;
        align-items: center;
    }

    #drawingCanvas {
        width: 100%;
        height: 50vh;
    }
}

@media screen and (max-width: 480px) {
    .bgc, .bgc1 {
        padding: 8px 10px;
    }

    .buttin {
        font-size: 14px;
        padding: 8px;
    }

    .toolbar {
        font-size: 14px;
    }
}
